footer {
    background-color: white;
    text-align: center;
    position: fixed;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    left: 0;
    right: 0;
    bottom: 0;
}

footer.p {
    top: 10%;
}
